.search-container {
    width: 100%;
    max-width: 1120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container section.form {
    width: 100%;
    max-width: 700px;
    margin-right: 30px;
}

.search-container section.form form {
    margin-top: 125px;
    margin-bottom: 100px;
}

.search-container section.form form select{
    width: 100%;
    margin-bottom: 50px;
}

.search-container section.form form input{
    width: 38%;
    margin-left: 94%;
}

.post-container {
    width: 100%;
    max-width: 1120px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.post-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    list-style: none;
    margin-bottom: 40px;
}

.post-container ul li {
    background: #ffffff ;
    padding: 30px;
    border-radius: 8px;
    position: relative;
}

.post-container ul li strong {
    display: block;
    margin-bottom: 10px;
    color: #41414d;
}

.post-container ul li p + strong {
    margin-top: 32px;
}

.post-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

